.page.portrait .etikett{
    padding-left: 1mm;
    padding-top: 1mm;
}

.etikett > article {
    text-align: justify;
}

.icon {
    float: right;
    margin-left: 0.3cm;
}

.icon.can {
    width: 0.75cm;
}

.icon.sun {
    width: 0.75cm;
}

.icon.psr {
    width: 0.75cm;
}

.icon.bio {
    width: 0.75cm;
}

.icon.demeter {
    margin-top: 0.25cm;
    width: 0.75cm;
}

em {
    font-weight: bold;
    font-style: normal;
}

.logo {
    width: 2.5cm;
}

.teaser {
    float: left;
    margin-right: 0.2cm;
    width: 40%;
}

.teaser > img {
    width: 100%;
}

.teaser ~ p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

h1 {
    text-align: center;
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    font-size: 12pt;
}

em + span {
    display: inline-block;
}