/* to https://raw.githubusercontent.com/cognitom/paper-css */
* {
    box-sizing: border-box;
}
@page{
    margin: 0;
}

:root .col3{
    --cols: 3;
}
:root .row6{
    --rows: 6;
}

:root .col4{
    --cols: 4;
}
:root .row2{
    --rows: 2;
}

body{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
    visibility: hidden;
}

.page {
    margin: 0;
    position: relative;
    border: 0px solid red;
}

.page.portrait{
    width: 210mm;
    height: 296mm;
}
.page.landscape {
    width: 297mm;
    height: 209mm;
}
@media print {
    body.portrait{
        width: 210mm;
    }
    body.landscape{
        width: 297mm;
    }
}

/* this paddings in fact depend on the paper type (etikettenlayout), not the page orientation.
   but for now we only have two layouts, one per page orientation ;)
 */
.page.portrait{
    padding: 6mm 6mm; /* depends on printer margin */
}
.page.landscape{
    padding: 6mm 3mm;
}

.etikett{
    float: left;
    width: calc(100% / var(--cols));
    height: calc(100% / var(--rows));
    border: 0px solid green;

    font: 8pt "Helvetica";
    padding-right: 2mm;
}

/* EDITOR */

.page.editor {
    border: 1px solid #ddd;
    box-shadow: #ddd 2px 2px 3px 6px;
}

.page.landscape.editor{
    width: calc(2 * 6mm + ((297mm - 2 * 3mm) / var(--cols)) + 4px); /*3mm padding left/right, 1px border page, 1px border etikett*/
    height: calc(2 * 6mm + ((209mm - 2 * 6mm) / var(--rows)) + 4px);
}

.page.portrait.editor{
    width: calc(2 * 6mm + ((209mm - 2 * 6mm) / var(--cols)) + 4px); /*6mm padding, 1px border page, 1px border etikett*/
    height: calc(2 * 6mm + ((297mm - 2 * 6mm) / var(--rows)) + 4px);
}

.page.editor .etikett{
    width: 100%;
    height: 100%;
    border: 1px dotted lightgray;
}