/* first row */
.page.landscape .etikett:nth-child(1), .page.landscape .etikett:nth-child(2), .page.landscape .etikett:nth-child(3), .page.landscape .etikett:nth-child(4) {
    padding-bottom: 2mm;
}

/* second row */
.page.landscape .etikett:nth-child(5), .page.landscape .etikett:nth-child(6), .page.landscape .etikett:nth-child(7), .page.landscape .etikett:nth-child(8) {
    padding-top: 3mm;
}

.page.landscape .etikett{
    padding-left: 3mm;
}

/* first col */
.page.landscape .etikett:nth-child(1), .page.landscape .etikett:nth-child(5){
    padding-left: 3mm;
    padding-right: 3mm;
}


.etikett>article{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}
.icon{
    float: right;
    margin-left: 0.3cm;
}
.icon.can{
    width: 0.75cm;
}
.icon.sun{
    width: 0.75cm;
}
.icon.psr{
    width: 0.75cm;
}
.icon.bio{
    width: 0.75cm;
}
.icon.demeter{
    margin-top: 0.25cm;
    width: 0.75cm;
}
em{
    font-weight: bold;
    font-style: normal;
}
.logo{
    width: 3cm;
}
.teaser{
    height: 4.0cm;
    overflow: hidden;
}
.teaser>img{
    width: 100%;
}
.teaser~p{
    margin-top: 0.2cm;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
h1{
    text-align: center;
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    font-size: 16pt;
}
em+span{
    float: right;
    display: inline-block;
}
h1+small{
    display: inline-block;
    margin-bottom: 0.2cm;
    font-size: 8pt;
    text-align: center;
    width: 100%;
}
